/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--main-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  min-width: 375px;
}


/*header - decorative element*/
header {
  position: relative;
  padding: 0 10px 0 10px;
  background-image: var(--header-bg-image);
  background-size: cover;
  background-position: center;
  min-width: 375px;
  height: 668px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}





.decorative-elements-group {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  top: 10px;
  right: 20px;
}

.REC-element {
  display: block;
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-weight: 400;
  color: var(--accent-color, #FF0070);
}

.decorative-point {
  align-self: center;
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}


.decorated-zone {
  position: relative;
}
.decorated-zone::before {
  content: '';
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
  display: block;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color, #FF0070);
  border-block-start: 1px solid var(--accent-color, #FF0070);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 10px;
  bottom: 10px;
  display: block;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color, #FF0070);
  border-block-end: 1px solid var(--accent-color, #FF0070);
}


/*page - decorative element*/



.header__theme-menu {
  margin-top: 75px;
  justify-self: right;
  align-self: start;
  inline-size: 70px;
  block-size: 98px;
}


.header-decorative-text {
  justify-self: start;
  font-family: var(--main-font, sans-serif);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--decorative-text-color, #DB00FF);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
  line-height: 83%;
}

.header__theme-menu-list {
  list-style: none;
  display: grid;
  gap: 11px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.header__theme-menu-button {
  text-transform: lowercase;
  font-weight: 400;
  inline-size: 70px;
  block-size: 26px;
  text-align: center;
  font-size: 18px;
  font-family: var(--main-font, sans-serif);
  color: var(--accent-color);
  line-height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-hover);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}


.header__title {
  margin-top: 21px;
  justify-self: left;
  align-self: center;
  inline-size: 100%;
  min-block-size: 192px;
  margin-bottom: 20px;
}

.header__paragraph {
  margin-bottom: 66px;
  justify-self: right;
  align-self: end;
  inline-size: 355px;
  block-size: 117px;
}

/* 3 main selectors*/

.color-text {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--title-text-color);
  line-height: 23.4px;
}
.accent-bg {
  display: inline-block;
  font-weight: 700;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  color: var(--header-text-color, #000028);
  line-height: 23.4px;
  background-color: var(--accent-color, #FF0070);
}

.accent-bg-regular {
  display: inline-block;
  font-weight: 400;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  color: var(--header-text-color, #000028);
  line-height: 23.4px;
  background-color: var(--accent-color, #FF0070);
}

.accent-text {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--main-text-color, #F1B2CE);
}

.list-item-header {
  margin-block-end: 10px;
  display: block;
}

.accent-link {
  cursor: pointer;
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.accent-link:hover {
  border: 1px solid var(--accent-color-hover);
}

.accent-link:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

/* 3 main selectors*/

main {
  background-color: var(--main-bg-color, #000028);
}

/* reasons*/
.reasons {
  padding: 40px 10px 50px 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

.reasons__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 20px;
}
/* reasons*/

/*aspects*/
.aspects {
  padding: 0 10px 50px 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

.aspects__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 20px;
}
/*aspects*/

/*advice*/
.advice {
  padding: 0 10px 50px 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

.advice__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 20px;
}
/*advice*/

/*gallery*/

.gallery {
  display: grid;
  padding: 0 10px 40px 10px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 10px;
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: var(--gallery-img-gap);
}

.gallery__list-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}

/*.list-item-header {
  margin-block-end: 10px;
}*/

/*gallery*/



/* footer*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-inline-size: 100%;
  background-color: var(--main-bg-color);
  block-size: 668px;
}


.footer__header {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.footer-decorative-text {
  justify-self: start;
  font-family: var(--main-font, sans-serif);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--decorative-text-color, #DB00FF);
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
  line-height: 83%;
}

/* footer*/

@media (width >= 768px) {

  .header__theme-menu {
    margin-top: 192px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .decorative-elements-group {
    top: 20px;
    right: 30px;
  }

  .header {
    block-size: 1024px;
    padding: 0 20px 0 20px;
  }


  .decorative-elements-group {
    top: 20px;
    right: 30px;
  }

  .header__paragraph {
    margin-bottom: 183px;
    inline-size: 364px;
  }

  .header__title {
    margin-top: 120px;
    margin-left: -20px;
  }

  .decorative-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .reasons {
    grid-template-columns: 1fr 2fr;
    padding: 60px 20px 80px 20px;
  }

  .aspects {
    padding: 0 20px 80px 20px;
  }
  .advice {
    grid-template-columns: 1fr 2fr;
    padding: 0 20px 80px 20px;
  }

  .gallery {
    padding: 0 20px 60px 20px;
    gap: 20px;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 780px;
    --gallery-img-gap: 20px;
    overflow: hidden;
  }

  .sunset-img {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .ice-cream-img  {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .tape-img {
    grid-column: 1;
    grid-row: 2 / 5;
  }

  .books-img {
    grid-column: 2;
    grid-row: 2;
  }

  .street-img {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
  }

  .aspects__header {
    width: 236px;
  }

  .footer {
    block-size: 1025px;}

  .footer-decorative-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {

  .header {
    block-size: 768px;
  }

  .header-decorative-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header__theme-menu {
    margin-top: 20px;
    margin-right: 160px;
    justify-self: center;
    align-self: start;
  }

  .header__title {
    margin-bottom: 50px;
  }
  .header__paragraph {
    margin-bottom: 134px;
    inline-size: 491px;
    block-size: 71px;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .aspects__header {
    inline-size: 315px;
  }
  .aspects__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .decorative-elements-group {
    top: 20px;
    right: 30px;
  }


  .gallery__list {
    block-size: 1048px;
  }

  .footer {
    block-size: 768px;
  }

  .footer-decorative-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
}






